.mix {
    position: relative;
    display: none;
    font-weight: 400;
    color: #777;
    height: auto;
    overflow: visible;
}
h4.card-title {
    font-size: 16px;
}
a:link,
a:link,
a:visited,
a:hover,
a:active {
    cursor: pointer;
}
